<html lang="es" ng-app="app">

<head>

<!-- Comentario prueba Oscar -->
    <!-- <base href="/"> -->
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width,user-escalable=no, initial-scale=1.0, minimun-scale=1.0,maximun-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="app/css/base.css">
    <link rel="stylesheet" href="https://cdn.rawgit.com/Chalarangelo/mini.css/v2.2.0/dist/mini-default.min.css">
    <link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://rawgit.com/enyo/dropzone/master/dist/dropzone.js"></script>
    <!-- Vendor scripts -->
    <script src="https://cdn.auth0.com/js/lock/10.15/lock.min.js"></script>
    <script type="text/javascript" src="node_modules/angular/angular.js"></script>
    <script type="text/javascript" src="node_modules/angular-ui-router/release/angular-ui-router.js"></script>
    <script type="text/javascript" src="node_modules/auth0-js/build/auth0.js"></script>
    <script type="text/javascript" src="node_modules/angular-auth0/dist/angular-auth0.js"></script>
    <!-- Application scripts -->
    <script type="text/javascript" src="app/app.js"></script>
    <script type="text/javascript" src="app/common/common.js"></script>
    <!-- Controllers -->
    <script type="text/javascript" src="app/controllers/login.js"></script>
    <script type="text/javascript" src="app/controllers/help.js"></script>
    <script type="text/javascript" src="app/controllers/register-user.js"></script>
    <script type="text/javascript" src="app/controllers/register-lot.js"></script>
    <script type="text/javascript" src="app/controllers/lot-listing.js"></script>
    <script type="text/javascript" src="app/controllers/vehicle-listing.js"></script>
    <script type="text/javascript" src="app/controllers/home.js"></script>
    <script type="text/javascript" src="app/controllers/parent.js"></script>
    <script type="text/javascript" src="app/controllers/current.js"></script>
    <!-- Services -->
    <script type="text/javascript" src="app/services/login.js"></script>
    <script type="text/javascript" src="app/services/register-user.js"></script>
    <script type="text/javascript" src="app/services/register-lot.js"></script>
    <script type="text/javascript" src="app/services/lot-listing.js"></script>
    <script type="text/javascript" src="app/services/vehicle-listing.js"></script>
    <script type="text/javascript" src="app/services/auth.js"></script>
    <!-- Components -->
    <script type="text/javascript" src="app/controllers/lot.js"></script>
    <script type="text/javascript" src="app/controllers/vehicle.js"></script>
</head>

<body ng-controller="CurrentUserController as vm">
    <header>
        <div class="nav-cont">
            <div>
                <label for="demo-toggle" class="button drawer-toggle persistent"></label>
                <img src="app/img/parkner-white-logo.png" id="logo">
            </div>
            <div>
                <button id="login" ng-if="!vm.isAuthenticated()" ng-click="vm.login()">Login</button>
                <button id="registrar" ng-if="!vm.isAuthenticated()" ng-click="vm.login()" id='sign-up'>Registrar</button>
                <button ng-if="vm.isAuthenticated()" ng-click="vm.logout()" id='sign-up'>Logout</button>
            </div>
        </div>
    </header>
    <input type="checkbox" id="demo-toggle" ng-if="vm.isAuthenticated()">
    <nav class="drawer demo persistent">
        <label for="demo-toggle" class="close"></label>
        <a ui-sref="auth.lot-registration()">Registra un espacio</a>
        <a ui-sref="auth.lot-listing()">Mis Espacios</a>
        <a ui-sref="auth.vehicle-listing()">Mis Vehículos</a>
        <a ui-sref="auth.help()">Ayuda</a>
    </nav>
    <div class="content">
        <div ui-view> </div>
    </div>
</body>
<!-- sync test -->
</html>
