* {
    border: 0;
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, Sans-Serif;
}

header{
    height: auto !important;
}

#logout{
    position: fixed;
    bottom: 0;
    right: 0;
}

#k{
    width: 100%;
}


/* -Juan*/

input {
    margin-left: 10%;
    margin-right: 10%;
}


/*.ng-scope{
  width: 100%;
}
*/
.nav-cont{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  justify-content: space-between;


}



.container {
    /*background: url("../img/background.jpg") center no-repeat;*/
    /*background-size: cover;*/
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


/*Header >>>*/

.header-container {
    background-color: gray;
    align-items: center;
    display: flex;
    flex-basis: 100%;
    height: 10%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.menu-logo {
    padding: 0 0 0 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

#logo {
    width: 150px;
}

#menu-icon {
    width: 20px;
    padding: 0 25px 0 10px;
}

.reg {
    padding: 0 15px 0 0;
}

#sign-up {
    background: transparent;
    padding: 0 5px 0 5px;
    border: 2px solid #ffffff;
    border-radius: 5px;
    color: #ffffff;
     float: right;
}

#login{
 float: right;
}

#inicia{
    width: 100%;
}

#registrar{
    margin-top: 10px;
    float: right;
   border-radius: 1px;
    padding: 0 5px 0 5px;
    border: 2px solid #ffffff;
    border-radius: 5px;
    color: #ffffff;
}


/*<<< Header*/


/*Contenido >>>*/

.content {
/*    flex-basis: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;*/
    /*background: url("../img/background.jpg");*/
    background-repeat: no-repeat;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/*<<< Contenido*/


/*Login >>>*/

.login {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    background: rgba(222, 222, 222, 1);
    background-image: linear-gradient(to bottom, #FFFFFF 0%, #F0F0F0 50%, #F0F0F0 75%, #FFFFFF 100%);
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dedede', endColorstr='#c7c7c7', GradientType=0 );*/
    border-radius: 5px;
    margin-left: 5%;
    margin-right: 5%;
    width: 400px;
   /* display: block;*/
}

#closeform {
    width: 90%;
    padding: 5%;
    text-align: right;
}

.close-log {
    font-size: 8px;
    width: 10px;
    border-radius: 50%;
    background-color: lightblue;
    border: blue solid 1px;
}

#f-pass {
    font-size: 12px;
    color: #0066ff;
    padding: 5% 2% 0 10%;
}

#login-text {
    padding: 25px 0 0 10%;
    font-size: 25px;
    color: #1f58b7;
}

.login input {
    border: #a3a3a3 solid 1px;
    font-size: 15px;
    border-radius: 5px;
    background-color: #d3d3d3;
    color: #3d3939;
    width: 80%;
    padding: 15px 5px 15px 5px;
    margin-top: 15px;
}

.login-button {
    text-align: center;
    margin-top: 15px;
    border-radius: 5px;
    font-size: 15px;
    background-color: #1f3b9b;
    color: #fff;
    padding: 15px 0px 15px 0px;
    margin-left: 25%;
    margin-right: 15%;
    width: 50%;
    position: relative;
    top: 50%;
}

hr.separador {
    border-top: 3px solid #1f58b7;
    width: 100%;
    padding: 0;
    margin: 0;
}

.sm-log {
    margin: 0;
    width: 70%;
}

.sm-section {
    padding-top: 15px;
}

#fb-image {
    margin: 5px 5px 5px 5px;
    margin-left: 20%;
    width: 100%;
}


/*-Juan*/


/*<<< Login*/
/*@media all and (-width: 450px) {

}*/


@media all and (max-width: 370px) {

 .nav-cont{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content:center;
}


/*    .login {
        flex-basis: 90%;
        height: 80%;
        display: flex;
        flex-direction: column;
        background: rgba(222, 222, 222, 1);
        background-image: linear-gradient(to bottom, #FFFFFF 0%, #F0F0F0 50%, #F0F0F0 75%, #FFFFFF 100%);
        /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dedede', endColorstr='#c7c7c7', GradientType=0 );
        border-radius: 5px;
    }*/*/
}

@media all and (max-height: 400px) {
    .login {
        flex-basis: 90%;
        height: 80%;
        display: flex;
        flex-direction: row;
        background: rgba(222, 222, 222, 1);
        background-image: linear-gradient(to bottom, #FFFFFF 0%, #F0F0F0 50%, #F0F0F0 75%, #FFFFFF 100%);
        /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dedede', endColorstr='#c7c7c7', GradientType=0 );*/
        border-radius: 5px;
    }
    .separador {
        display: none;
    }
}


/*Home*/

#feedback {
    font-size: 1.4em;
}

#selectable .ui-selecting {
    background: #FECA40;
}

#selectable .ui-selected {
    background: #F39814;
    color: white;
}

#selectable {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60%;
}

#selectable li {
    margin: 3px;
    padding: 0.4em;
    font-size: 1.4em;
    height: 18px;
}

#o {
    text-align: center;
}


/*Menu lateral -Juan*/

.sidenav {
    margin-top: 0px;
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    /* position: fixed;*/
    /* Stay in place */
    position: absolute;
    z-index: 1;
    /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 10px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
}


/* The navigation menu links */

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1em;
    color: #818181;
    display: block;
    transition: 0.3s
}


/* When you mouse over the navigation links, change their color */

.sidenav a:hover,
.offcanvas a:focus {
    color: #f1f1f1;
}


/* Position and style the close button (top right corner) */

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


/* Style page content - use this if you want to push the page content to the right when you open the side navigation */

#main {
    transition: margin-left .5s;
    padding: 20px;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}


/*juan menu lateral*/


/*login*/


/*#fb-image{
  width: 5px;
}
*/

.separador {
    width: 30px;
}
