<style>
#input_container {
    position: relative;
    padding: 0;
    margin: 0;
}

#busca {
    width: 75%;
    background-image: url("https://cdn1.iconfinder.com/data/icons/CornerStone/PNG/arrow%20right.png");
    background-position: right;
    background-repeat: no-repeat;
    background-color: #c6c6c6;
    border-radius: 5px;
    padding: 5px;
    border: solid 1px blue;
    -webkit-transition: all .3s ease-out;
}

#busca:focus {
    background-color: #ffffff;
    border-color: blue;
    color: blue;
    outline: none;
}
</style>
<div id="input_container">
    <input type="text" placeholder="Busca un espacio" id="busca" value>
</div>
