<h1>Historial de pagos</h1>
<br>
<table>
    <tr>
        <td>Transacción</td>
        <td>Fecha</td>
        <td>Beneficiario</td>
        <td>Espacio</td>
        <td>Monto</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>
