<div>
    <div><img src="#">
        <h1>foto</h1></div>
    <div> Detallas </div>
    <div> Comentarios </div>
    <div> Ocupación </div>
    <div> Informacion Verificada </div>
    <div> Miembro desde: </div>
    <div> Sobre mi: </div>
    <div> Mis calificiones: </div>
    <div>
        <button>Rentar Ahora</button>
    </div>
</div>
