<style>
#feedback {
    font-size: 1.4em;
}

#selectable .ui-selecting {
    background: #FECA40;
}

#selectable .ui-selected {
    background: #F39814;
    color: white;
}

#selectable {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60%;
}

#selectable li {
    margin: 3px;
    padding: 0.4em;
    font-size: 1.4em;
    height: 18px;
}
</style>
<script>
$(function() {
    $("#selectable").selectable({
        stop: function() {
            var result = $("#select-result").empty();
            $(".ui-selected", this).each(function() {
                var index = $("#selectable li").index(this);
                result.append(" #" + (index + 1));
            });
        }
    });
});
</script>
<div class="register">
    <span id="login-text">Registra un espacio</span>
    <form>
        <input type="text" required placeholder="Correo Electrónico">
        <input type="text" required placeholder="Número">
        <input type="text" required placeholder="Distrito">
        <input type="text" required placeholder="Ciudad">
        <input type="text" required placeholder="Departamento">
        <hr>
        <br> Detalles
        <br>
        <input type="value" required placeholder="Tipo">
        <br> Extras
        <p id="feedback">
            <span>You've selected:</span> <span id="select-result">none</span>.
        </p>
        <ol id="selectable">
            <li class="ui-widget-content">Item 1</li>
            <li class="ui-widget-content">Item 2</li>
            <li class="ui-widget-content">Item 3</li>
            <li class="ui-widget-content">Item 4</li>
            <li class="ui-widget-content">Item 5</li>
            <li class="ui-widget-content">Item 6</li>
        </ol>
        <br> Fotos
        <form action="/upload-target" class="dropzone"></form>
        <br> Modalidad
        <input type="radio" id="rad1">
        <label for="rad1">Horario</label>
        <input type="radio" id="rad2">
        <label for="rad2">Diario</label>
        <input type="radio" id="rad3">
        <label for="rad3">Mensual</label>
        <br> Horario
        <br>
        <input type="checkbox" id="rad4">
        <label for="rad4">Lunes</label>
        <input type="time" required placeholder="desde">
        <input type="time" required placeholder="hasta">
        <input type="checkbox" id="rad4a">
        <label for="rad4a">24 H.</label>
        <br>
        <input type="checkbox" id="rad5">
        <label for="rad5">Martes</label>
        <input type="time" required placeholder="desde">
        <input type="time" required placeholder="hasta">
        <input type="checkbox" id="rad5a">
        <label for="rad5a">24 H.</label>
        <br>
        <input type="checkbox" id="rad6">
        <label for="rad6">Miercoles</label>
        <input type="time" required placeholder="desde">
        <input type="time" required placeholder="hasta">
        <input type="checkbox" id="rad5a">
        <label for="rad5a">24 H.</label>
        <br>
        <input type="checkbox" id="rad7">
        <label for="rad7">Jueves</label>
        <input type="time" required placeholder="desde">
        <input type="time" required placeholder="hasta">
        <input type="checkbox" id="rad5a">
        <label for="rad5a">24 H.</label>
        <br>
        <input type="checkbox" id="rad8">
        <label for="rad8">Viernes</label>
        <input type="time" required placeholder="desde">
        <input type="time" required placeholder="hasta">
        <input type="checkbox" id="rad5a">
        <label for="rad5a">24 H.</label>
        <br>
        <input type="checkbox" id="rad9">
        <label for="rad9">Sabado</label>
        <input type="time" required placeholder="desde">
        <input type="time" required placeholder="hasta">
        <input type="checkbox" id="rad5a">
        <label for="rad5a">24 H.</label>
        <br>
        <input type="checkbox" id="rad01">
        <label for="rad01">Domingo</label>
        <input type="time" required placeholder="desde">
        <input type="time" required placeholder="hasta">
        <input type="checkbox" id="rad5a">
        <label for="rad5a">24 H.</label>
        <br>
        <hr> Precio
        <br>
        <input type="text" required placeholder="Departamento"> Hora
        <br>
        <input type="text" required placeholder="Departamento"> Dia
        <br>
        <input type="text" required placeholder="Departamento"> Mes
        <br>
        <button class="login-button">Listo</button>
    </form>
</div>
