<div class="singup">
    <span id="login-text">Registro</span>
    <form>
        <input type="text" required placeholder="Correo Electrónico">
        <br>
        <input type="password" required placeholder="Contraseña">
        <br>
        <input type="text" required placeholder="Nombres">
        <input type="text" required placeholder="Apellidos">
        <br>
        <input type="text" required placeholder="D.N.I / C.E.">
        <br>
        <input type="text" required placeholder="Fecha de nacimiento">
        <input type="text" required placeholder="Ocupación">
        <br>
        <input type="text" required placeholder="Celular">
        <br>
        <button class="login-button">Regístrate</button>
    </form>
</div>
